<div ng-controller="CreateCtrl as vm">
    <form class="form-horizontal">
        <div class="form-group">
            <h2>New Quiz</h2>
            <label for="name">Quiz Name: </label>
            <input id="name" type="text" class="form-control">
            <h3>Questions: </h3>
            <fieldset ng-repeat="number in vm.questions">
                <question class="form-horizontal" ></question>
            </fieldset>
            <div class="form-horizontal">
                <button class=".btn-block" ng-click="vm.addQuestion()">Add question </button>
                <button class=".btn-block" ng-hide="true">Remove question</button>
            </div>
            <input type="submit" class="btn btn-default" ng-disabled="true">
        </div>
    </form>
</div>